{% extends 'bootstrap3/bootstrap3.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block bootstrap3_title %}{% block title %}{% endblock %}{% endblock %}

{% block bootstrap3_content %}

<div class="container-fluid">
    <div id="header">
    {% block header %}
    <a href="{% url 'index' %}">{% trans "Home" %}</a> |

    {% if user.is_authenticated %}
        {% trans "Logged in" %}: {{ user.username }}
        (<a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a> |
        <a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>)
    {% else %}
       <a href="{% url 'auth_login' %}">{% trans "Log In" %}</a>
    {% endif %}
    {% endblock %}
    </div>

    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

    <div id="content">
    {% block content %}

    {% endblock content %}
    </div>

    <div id="footer">
    {% block footer %}

    {% endblock %}
    </div>
</div>
{% endblock %}
