{% extends 'bootstrap3/bootstrap3.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block bootstrap3_title %}
    {% block title %}{% endblock %}
{% endblock %}

{% block bootstrap3_extra_head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <meta name="source-code" content="Powered by tsadmin">
{% endblock %}

{% block bootstrap3_content %}

    <nav class="navbar navbar-default navbar-static-top">

        <div class="container-fluid">
            {% block header %}

                <div class="navbar-header">

                    <a href="{% url 'index' %}" class="navbar-brand">{% trans "Home" %}</a>

                    {% if user.is_authenticated %}

                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#navbarCollapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <p class="navbar-text">
                            <a href="{% url 'profile' %}" class="navbar-link">{% trans 'User Info' %}</a>
                        </p>

                    {% else %}
                        <ul class="navbar-nav nav nav-pills">
                            <li><a href="{% url 'registration_register' %}">
                                {% trans "Register" %}
                            </a></li>
                            <li><a href="{% url 'auth_login' %}">
                                {% trans "Log In" %}
                            </a></li>
                        </ul>
                    {% endif %}

                </div>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="nav navbar-nav">
                        {% if user.is_staff %}
                            <li><a href="{% url 'admin:index' %}" target="_blank">{% trans 'Site administration' %}</a></li>
                            <li><a href="/api/connection/" target="_blank">API</a></li>
                        {% endif %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    {% trans "Logged in" %}: {{ user.username }}
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a></li>
                                    <li><a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endblock %}

            {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        </div>
    </nav>

    <div id="content" class="">
        {% block content %}
        {% endblock content %}
    </div>

    {% block footer %}
    {% endblock %}


{% endblock %}
