{% extends "base.html" %}
{% load i18n %}
{% load markdownify %}

{% block title %}首页{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel-group" id="accordion-posts">
            {% for post in object_list %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-posts" href="#post{{ forloop.counter }}">
                                <h1>{{ post.title }}</h1>
                            </a>
                        </h4>
                    </div>
                    <div id="post{{ forloop.counter }}"
                         class="panel-collapse collapse in">
                        <div class="panel-body">
                            {{ post.body | markdown | safe }}
                           <!-- (<a href="{{ post.get_slug_url }}" target="_blank">新窗口打开</a>) -->                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}
